/data/images
/notebooks/metastore_db
/notebooks/spark-warehouse
/venv.тщ
/notebooks/.ipynb_checkpoints
/notebooks/.venv
/notebooks/.venv.тщ
/notebooks/.ipython
/notebooks/.jupyter
/notebooks/.local
/notebooks/.cache
/notebooks/.config
/notebooks/.ipynb_checkpoints
notebooks/artifacts
notebooks/hdfs:
notebooks/covid_dataset
.docker